.cart {
  display: flex;
}

.cart_sidebar {
  flex-basis: 320px;
  flex-grow: 0;
  flex-shrink: 0;
  background-color: #fff;
  margin: 0.5rem;
  padding: 1rem;
}

.cart_main {
  flex-grow: 1;

  margin: 0.5rem;
}

.cart_main_item {
  background-color: #fff;
  padding: 1rem;
  margin-bottom: 1rem;
}
